.home-wrapper-flex {
  height: 100svh;
  background: rgb(30, 30, 30);
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-wrapper-flex-inner {
  /* border: 1px solid purple; */
  display: flex;
  flex-direction: column;
  width: 400px;
}

.home-wrapper-grid {
  min-height: 100svh;
  background: rgb(30, 30, 30);
  /* border: 1px solid green; */
  display: grid;
  grid-template-areas: "header" "content" "input";
  grid-template-rows: 80px 1fr 80px;
}

.home-wrapper-grid-home-header {
  /* border: 1px solid purple; */
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: header;
  position: sticky;
  top: 0;
  background-color: rgb(30, 30, 30);
}

.home-header-wrapper {
  /* border: 1px solid green; */
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.home-header {
  color: white;
}

.home-wrapper-grid-home-input {
  /* border: 1px solid orange; */
  grid-area: input;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: sticky;
  bottom: 0;
  background: rgb(30, 30, 30);
}

.home-input-flex-wrapper {
  /* border: 1px solid yellow; */
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 8px;
  width: 100%;
}

.home-input-grid-wrapper {
  /* border: 1px solid yellow; */
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 12px;
  width: 350px;
}

.home-input {
  background-color: rgb(60, 60, 60);
  border: none;
  color: white;
  text-align: center;
  font-size: 20px;
  height: 44px;
  border-radius: 16px;
  /* padding-bottom: 6px; */
}

.home-input-btn {
  /* border: 1px solid orange; */
  height: 30px;
  width: 30px;
  border-radius: 50%;
  font-size: 18px;
  position: absolute;
  top: 50%;
  right: -4px;
  transform: translate(-50%, -50%);
}

.home-input-btn:hover {
  cursor: pointer;
}

/*    ***    */
/* returned data css */
/*    ***    */

.home-wrapper-grid-api-wrapper {
  grid-area: content;
  /* border: 1px solid orange; */
  overflow: scroll;
  /* display: flex;
  justify-content: center; */
}

.home-api-results-wrapper {
  /* border: 1px solid palegoldenrod; */
  color: white;
  /* margin: 0 auto; */
  /* margin: 0px 20px; */
  /* overflow-x: scroll; */
}

.column-names-wrapper {
  /* border: 1px solid yellow; */
  display: flex;
  background-color: rgb(15, 15, 15);
}

.column-name-ind-wrapper {
  flex: 1;
}

.api-ind-wrapper {
  /* border: 1px solid green; */
  width: max-content;
  /* this containts the width for each row to take up the entire container */
}

.api-ind-overflow-wrapper {
  display: flex;
}

.key-value-wrapper {
  /* border: 1px solid purple; */
  flex: 1;
}
