.home-wrapper-flex {
  height: 100svh;
  background: rgb(30, 30, 30);
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-wrapper-flex-inner {
  /* border: 1px solid purple; */
  display: flex;
  flex-direction: column;
  width: 400px;
}

.home-wrapper-grid {
  min-height: 100svh;
  background: rgb(30, 30, 30);
  /* border: 1px solid green; */
  display: grid;
  grid-template-areas: "header" "content" "input";
  grid-template-rows: 80px 1fr 80px;
}

.home-wrapper-grid-home-header {
  /* border: 1px solid purple; */
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: header;
  position: sticky;
  top: 0;
  background-color: rgb(30, 30, 30);
  z-index: 1;
}

.home-header-wrapper {
  /* border: 1px solid green; */
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.home-filter {
  color: white;
}

.home-header {
  color: white;
}

.home-wrapper-grid-home-input {
  /* border: 1px solid orange; */
  grid-area: input;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: sticky;
  bottom: 0;
  background: rgb(30, 30, 30);
}

.home-input-flex-wrapper {
  /* border: 1px solid yellow; */
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 8px;
  width: 100%;
}

.home-input-grid-wrapper {
  /* border: 1px solid yellow; */
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 12px;
  width: 350px;
}

.home-input {
  background-color: rgb(60, 60, 60);
  border: none;
  color: white;
  text-align: center;
  font-size: 20px;
  height: 44px;
  border-radius: 16px;
  /* padding-bottom: 6px; */
}

.home-input-btn {
  /* border: 1px solid orange; */
  height: 30px;
  width: 30px;
  border-radius: 50%;
  font-size: 18px;
  position: absolute;
  top: 50%;
  right: -4px;
  transform: translate(-50%, -50%);
}

.home-input-btn:hover {
  cursor: pointer;
}

/*    ***    */
/* returned data css - HomeApiResults */
/*    ***    */

.home-wrapper-grid-api-wrapper {
  /* border: 1px solid orange; */
  grid-area: content;
  overflow: scroll;
  /* display: flex;
  justify-content: center; */
}

/*    ***    */
/* returned data css - HomeApiResults */
/*    ***    */

.home-api-table-wrapper {
  color: white;
  /* border: 1px solid purple; */
  display: flex;
  /* justify-content: flex-start; */
}

.table-padding-wrapper {
  /* border: 1px solid green; */
  padding: 2px 8px;
  /* background-color: rgb(235, 235, 235); */
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
}

.header-supplement-wrapper {
  /* border: 1px solid black; */
  padding: 8px 0px;
  display: flex;
  align-items: center;
}

.filter-input {
  border: none;
  border-bottom: 1px solid rgb(235, 235, 235);
  background-color: transparent;
  font-size: 16px;
  padding-bottom: 3px;
  margin-left: 2px;
  color: rgb(235, 235, 235);
}

.csv-export {
  text-decoration: none;
  background-color: rgb(235, 235, 235);
  color: black;
  /* border: 1px solid green; */
  padding: 2px 5px;
  margin-left: 12px;
  border-radius: 5px;
}

.csv-export:hover {
  cursor: pointer;
}

table {
  /* border: 1px solid rgb(80, 80, 80); */
  border-collapse: collapse;
  /* border-radius: 6px; */
  /* table-layout: auto; */
  /* min-width: max-content; */
}

tr {
  /* display: flex; */
  /* width: fit-content; */
  /* border: 1px solid orange; */
}

/* tbody {
  border-bottom: 1px solid lightgray;
} */

th {
  border: 1px solid rgb(80, 80, 80);
  padding: 6px 4px;
  background-color: rgb(10, 10, 10);
  text-align: left;
}

td {
  border: 1px solid rgb(80, 80, 80);
  /* width: fit-content; */
}

.api-column-header {
  position: relative;
  /* width: 20px; */
  /* border: 1px solid olive; */
}

.resizer {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 5px;
  background-color: rgb(120, 120, 120);
  opacity: 0;
  cursor: col-resize;
  user-select: none;
  touch-action: none;
  border-radius: 6px;
}

.api-column-header:hover > .resizer {
  opacity: 1;
}

.resizer.isResizing {
  background-color: black;
  opacity: 1;
}

.api-data-row {
  /* border: 1px solid red; */
  /* display: flex; */
  /* width: min(10px, 100%); */
}

.api-data-cell {
  /* border: 1px solid brown; */
  /* min-width: 10px; */
  /* max-width: 200px; */
}

.pagination-buttons-wrapper {
  padding: 8px 0px;
  display: flex;
  align-items: center;
}

.pagination-buttons-wrapper > button {
  background-color: rgb(225, 225, 225);
  border: none;
  margin-left: 12px;
  padding: 5px 5px;
  font-size: 14px;
  border-radius: 5px;
}

.pagination-buttons-wrapper > button:hover {
  /* border: 0.25px solid black; */
  cursor: pointer;
}

.pagination-buttons-wrapper > button:nth-of-type(1) {
  margin-left: 2px;
}
